{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="card text-white bg-dark mb-3">
        <p class="lead"> Incoming mother feeds: (rtp2hls)</p>
        <table class="table table-dark table-sm">
            <thead><tr>
                <th scope="col">pid</th>
                <th scope="col">Channel</th>
                <th scope="col">Source IP</th>
                <th scope="col">HLS link</th>
                <th scope="col">Manifest Age</th>
                <th scope="col">Uptime</th>
                <th scope="col">Actions</th>
            </tr></thead>
            <tbody>
               {% for grabber in grabbers %}
                    <tr>
                        <th>{{grabber["pid"]}}</th>
                        <td>{{grabber["channel"]}}</td>
                        <td>{{grabber["source"]}}</td>
                        <td><a href="{{grabber["baseuri"]}}/{{grabber["channel"]}}/playlist.m3u8">
                            {{grabber["baseuri"]}}/{{grabber["channel"]}}/playlist.m3u8</a></td>
                        <td>{{grabber["manifest_age"]}}</td>
                        <td>{{grabber["uptime"]}}</td>
                        <td>
                            <a href="channels?action=stop&pid={{grabber['pid']}}">Stop</a>
                        </td>
                    </tr>
               {%endfor%}
            </tbody>
        </table>
   </div>

    <div class="card text-white bg-dark mb-3">
        <p class="lead">Outgoing localized feeds: (hls2rtp)</p>
        <table class="table table-dark table-sm">
            <thead><tr>
                <th scope="col">pid</th>
                <th scope="col">Channel</th>
                <th scope="col">Source Manifest</th>
                <th scope="col">Manifest Age</th> 
                <th scope="col">Multicast IP</th>
                <th scope="col">Uptime</th>
                <th scope="col">Actions</th>
            </tr></thead>
            <tbody>
               {% for h in hls2rtp %}
                    <tr>
                        <th>{{h["pid"]}}</th>
                        <td>{{h["channel"]}}</td>
                        <td><a href="{{h["source"]}}">{{h["source"]}}</a></td>
                        <td>{{h["manifest_age"]}}</td>
                        <td>{{h["multicast"]}}</td>
                        <td>{{h["uptime"]}}</td>
                        <td>
                            <a href="channels?action=stop&pid={{h['pid']}}">Stop</a>
                        </td>
                    </tr>
               {%endfor%}
            </tbody>
        </table>
    </div>

{% endblock %}
