{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% for key,value in logs.items() %}
    <div class="card text-white bg-dark mb-3">
        <p class="lead"> Downloads for {{key}}</p>
        <table class="table table-dark table-sm">
            <thead><tr>
                <th scope="col">Time</th>
                <th scope="col">IP</th>
                <th scope="col">File</th>
                <th scope="col">Size</th>
                <th scope="col">Bitrate</th>
                <th scope="col">Status</th>
            </tr></thead>
            <tbody>
                {% for v in value %}
                    {% if loop.index < 6 %} 
                      <tr>
                        <td>{{v["time"]}}</td>
                        <td>{{v["ip"]}}</td>
                        <td>{{v["content"]}}</td>
                        <td>{{v["size"]}}</td>
                        <td>{{v["bitrate"]}}Mbps</td>
                        <td>{{v["result"]}}</td>
                      </tr>
                    {%endif%}
                {%endfor%}
            </tbody>
        </table>
    </div>
    {%endfor%}
{% endblock %}
